In [1]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

df = pd.read_excel('Soccer.xlsx')

df

                College Name      Head Coach Name            Head Coach Email
0      Ohio State University    Brian Maisonneuve       maisonneuve.2@osu.edu
1        Michigan University          Chaka Daley           ckdaley@umich.edu
2      University of Indiana         Todd Yeagley        kprobson@indiana.edu
3    Northwestern University          Tim Lenahan  t-lenahan@northwestern.edu
4    University of Minnesota          Devin Chuba       dchuba@morris.umn.edu
..                       ...                  ...                         ...
67  Virginia Tech University      Mike Brizendine            vtmsoccer@vt.edu
68   Wake Forrest University          Bobby Muuss             muussrp@wfu.edu
69  University of Pittsburgh         Jay Vidovich  msoccer@athletics.pitt.edu
70       Syracuse University         Ian McIntyre            ismcinty@syr.edu
71  University of Louisville  John Michael Hayden           johnh@GoCards.com

[72 rows x 3 columns]

In [2]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in ./opt/anaconda3/lib/python3.8/site-packages (0.4.0)
Requirement already satisfied: sqlparse in ./opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in ./opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.3.20)
Requirement already satisfied: six in ./opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prettytable<1 in ./opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in ./opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in ./opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (7.19.0)
Requirement already satisfied: setuptools>=18.5 in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (50.3.1.post20201107)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.8)
Requirement already satisfied: pygments in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.7.2)
Requirement already satisfied: jedi>=0.10 in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: appnope; sys_platform == "darwin" in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: pickleshare in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: decorator in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in ./opt/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in ./opt/anaconda3/lib/python3.8/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: ptyprocess>=0.5 in ./opt/anaconda3/lib/python3.8/site-packages (from pexpect>4.3; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)

In [3]:
import sqlite3

In [4]:
dbname = 'SoccerDataDb'
conn = sqlite3.connect(dbname + '.sqlite')

In [9]:
S = conn.cursor()
S.execute('SELECT * FROM SoccerCoach')
for row in S:
    print(row)

(0, 'Ohio State University', 'Brian Maisonneuve', 'maisonneuve.2@osu.edu')
(1, 'Michigan University', 'Chaka Daley', 'ckdaley@umich.edu')
(2, 'University of Indiana', 'Todd Yeagley', 'kprobson@indiana.edu')
(3, 'Northwestern University', 'Tim Lenahan', 't-lenahan@northwestern.edu')
(4, 'University of Minnesota', 'Devin Chuba', 'dchuba@morris.umn.edu')
(5, 'University of Wisconsin', 'John Trask', None)
(6, 'Purdue University', 'Drew Roff', 'aroff@purdue.edu')
(7, 'Penn State University', 'Jeff Cook', 'msoc@athletics.psu.edu')
(8, 'University of Illinois', 'Janet Rayfield', 'rayfield@illinois.edu')
(9, 'Michigan State University', 'Damon Rensing', 'rensingd@ath.msu.edu')
(10, 'University of Iowa', 'Dave Dilanni', 'david-diianni@iowasoccer.com')
(11, 'University of Nebraska', 'John Walker', 'jwalker@huskers.com')
(12, 'Rutgers University', 'Dan Donigan', 'ddonigan@scarletknights.com')
(13, 'Maryland University', 'Sasho Cirovski', 'sasho@umd.edu')
(14, 'Harvard University', 'Josh Shapiro', 'msoccer@fas.harvard.edu')
(15, 'Princeton University', 'Jim Barlow', 'jimbarlo@princeton.edu')
(16, 'Yale University', 'Kylie Stannard', 'kylie.stannard@yale.edu')
(17, 'Columbia University', 'Kevin Anderson', 'kma2105@columbia.edu')
(18, 'Brown University', 'Patrick Laughlin', 'Patrick_Laughlin@brown.edu')
(19, 'Cornell University', 'John Smith', 'msoccer@cornell.edu')
(20, 'Darthmouth College', 'Bo Oshoniyi', 'oshoniyi@etsu.edu')
(21, 'University of Pennslyvania', 'Brian Gill', 'brgill@upenn.edu')
(22, 'University of Alabama', 'Wes Hart', 'mpiserchio@ia.ua.edu')
(23, 'University of Arkansas', 'Colby Hale', 'cah013@uark.edu')
(24, 'University of Auburn', 'Karen Hoppa', 'soccer@auburn.edu')
(25, 'University of Florida', 'Becky Burleigh', 'beckyb@gators.ufl.edu')
(26, 'University of Georgia', 'Billy Lesesne', 'billyl@sports.uga.edu')
(27, 'University of Kentucky', 'Ian Carry', 'ian.carry@uky.edu')
(28, 'Lousiana State University', 'Sian Hudson', 'shudson@lsu.edu')
(29, 'Ole Mississippi University', 'Matt Mott', 'mmott@olemiss.edu')
(30, 'Mississippi State University', 'James Armstrong', 'jarmstrong@athletics.msstate.edu')
(31, 'University of South Carolina', 'Mark Berson', 'markb@mailbox.sc.edu')
(32, 'University of Tenneesee', 'Brian Pensky', 'jmorga79@utk.edu')
(33, 'Vanderbilt University', 'Darren Ambrose', 'vusoccer@vanderbilt.edu')
(34, 'Texas A&M University', 'G Guerrieri', 'SoccerCoach@athletics.tamu.edu')
(35, 'University of Missouri', 'Brian Blitz', 'blitzb@missouri.edu')
(36, 'Amherst', 'Justin Serpone', 'serpone@amherst')
(37, 'Bates', 'Tyler Sheikh', 'tsheikh@bates.edu')
(38, 'Bowdoin', 'Peter Mills', 'pmills@bowdoin.edu')
(39, 'Colby', 'Ewan Seabrook', 'eseabroo@colby.edu')
(40, 'Hamilton', 'Perry Nizzi', 'pnizzi@hamilton.edu')
(41, 'Middlebury', 'Alex Elias', 'aelias@middlebury.edu')
(42, 'Trinity', 'Michael Pilger', 'michael.pilger@trincoll.edu')
(43, 'Tufts', 'Josh Shapiro', 'menssoccer@tufts.edu')
(44, 'Wesleyan', 'Geoff Wheeler', 'gwheeler@wesleyan.edu')
(45, 'Williams', 'Erin Sullivan', 'Erin.Sullivan@williams.edu')
(46, 'University of Arizona', 'Tony Amato', 'tonyamato@arizona.edu')
(47, 'Arizona State University', 'Graham Winkworth', 'Graham.Winkworth@asu.edu')
(48, 'University of California', 'Kevin Grimes', 'alsoccer@berkeley.edu')
(49, 'University of Oregon', 'Graeme Abel', 'gabel@uoregon.edu')
(50, 'Oregon State University', 'Terry Boss', 'terence.boss@oregonstate.edu')
(51, 'Stanford University', 'Jermey Gunn', 'smsoccer@stanford.ed')
(52, 'UCLA', 'Ryan Jorden', 'msoccer@athletics.ucla.edu')
(53, 'USC', 'Keidane McAlpine', 'soccer@usc.edu')
(54, 'U. Washington', 'Jamie Clark', 'sclark@uw.edu')
(55, 'Washington State University', 'Todd Shulenberger', 'todd.shulenberger@wsu.edu')
(56, 'University of Colorado', 'Danny Sanchez', 'danny.sanchez@colorado.edu')
(57, 'University of Utah', 'Rich Manning', 'rmanning@huntsman.utah.edu')
(58, 'Boston College', 'Bob Thompson', 'msoccer@uml.edu')
(59, 'Clemson University', 'Mike Noonan', 'msoccer@clemson.edu')
(60, 'Duke University', 'John Kerr', 'jjk21@duke.edu')
(61, 'Florida State University', 'Mark Krikorian', 'mkrikorian@admin.fsu.edu')
(62, 'Georgia Tech University', None, None)
(63, 'University of Miami', 'Sarah Barnes', 'barnes.s@miami.edu')
(64, 'University of North Carolina', 'Carlos Somoano', 'csomoano@uncaa.unc.edu')
(65, 'North Carolina State University', 'George Kiefer', 'grkiefer@ncsu.edu')
(66, 'University of Virginia', 'George Gelnovatch', 'gg4n@virginia.edu')
(67, 'Virginia Tech University', 'Mike Brizendine', 'vtmsoccer@vt.edu')
(68, 'Wake Forrest University', 'Bobby Muuss', 'muussrp@wfu.edu')
(69, 'University of Pittsburgh', 'Jay Vidovich', 'msoccer@athletics.pitt.edu')
(70, 'Syracuse University', 'Ian McIntyre', 'ismcinty@syr.edu')
(71, 'University of Louisville', 'John Michael Hayden', 'johnh@GoCards.com')

In [7]:
df.to_sql(name='SoccerCoach', con=conn)