In [9]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

df = pd.read_excel('TrackCoach.xlsx')

df

                College Name Head Coach Name          Head Coach Email
0      Ohio State University    Sara Vergote         vergote.2@osu.edu
1        Michigan University   Jerry Clayton          claytj@umich.edu
2      University of Indiana      Ron Helmer       rhelmer@indiana.edu
3    Northwestern University    Scott Bahrke  scott.bahrke@nwciowa.edu
4    University of Minnesota     Matt Bingle          bingl001@umn.edu
..                       ...             ...                       ...
67  Virginia Tech University   Dave Cianelli           dcianell@vt.edu
68   Wake Forrest University      John Hayes           hayesjw@wfu.edu
69  University of Pittsburgh     Alonzo Webb  awebb@athletics.pitt.edu
70       Syracuse University      Brien Bell             bbell@syr.edu
71  University of Louisville     Dale Cowper        dale@GoCards.com\n

[72 rows x 3 columns]

In [3]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in ./opt/anaconda3/lib/python3.8/site-packages (0.4.0)
Requirement already satisfied: sqlparse in ./opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: prettytable<1 in ./opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in ./opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (7.19.0)
Requirement already satisfied: six in ./opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in ./opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in ./opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.3.20)
Requirement already satisfied: backcall in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (50.3.1.post20201107)
Requirement already satisfied: pickleshare in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pygments in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.7.2)
Requirement already satisfied: appnope; sys_platform == "darwin" in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: traitlets>=4.2 in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.8)
Requirement already satisfied: jedi>=0.10 in ./opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: ptyprocess>=0.5 in ./opt/anaconda3/lib/python3.8/site-packages (from pexpect>4.3; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: wcwidth in ./opt/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in ./opt/anaconda3/lib/python3.8/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)

In [4]:
import sqlite3

In [5]:
dbname = 'TrackDataDb'
conn = sqlite3.connect(dbname + '.sqlite')

In [14]:
T = conn.cursor()
T.execute('SELECT * FROM TrackCoach')
for row in T:
    print(row)

(0, 'Ohio State University', 'Sara Vergote', 'vergote.2@osu.edu')
(1, 'Michigan University', 'Jerry Clayton', 'claytj@umich.edu')
(2, 'University of Indiana', 'Ron Helmer', 'rhelmer@indiana.edu')
(3, 'Northwestern University', 'Scott Bahrke', 'scott.bahrke@nwciowa.edu')
(4, 'University of Minnesota', 'Matt Bingle', 'bingl001@umn.edu')
(5, 'University of Wisconsin', 'Rick Witt', 'rwitt@uwsp.edu')
(6, 'Purdue University', 'Angela Elliott', 'goodman8@purdue.edu')
(7, 'Penn State University', 'John Gondak', 'jeg33@psu.edu')
(8, 'University of Illinois', 'Mike Turk', 'miketurk@illinois.edu')
(9, 'Michigan State University', 'Yolanda Johnson', 'john5733@ath.msu.edu')
(10, 'University of Iowa', 'Joey Woody', 'joey-woody@uiowa.edu')
(11, 'University of Nebraska', 'Chris Richardson', 'ccrichardson@omavs.com')
(12, 'Rutgers University', 'Bob Farrell', 'rfarrell@scarletknights.com')
(13, 'Maryland University', 'Andrew Valmon', 'avalmon@umd.edu')
(14, 'Harvard University', 'Jason Saretsky', 'trackandfieldxc@fas.harvard.edu')
(15, 'Princeton University', 'Jason Vigilante', 'jasonv@princeton.edu')
(16, 'Yale University', 'Matt Gutridge', 'matt.gutridge@yale.edu')
(17, 'Columbia University', 'Daniel Ireland', 'dli2108@columbia.edu')
(18, 'Brown University', 'Craig Kinsley', 'craig_kinsley@brown.edu')
(19, 'Cornell University', 'Justin Byron', 'jb2633@cornell.edu')
(20, 'Darthmouth College', 'Porscha Dobson', 'Porscha.A.Dobson@dartmouth.edu')
(21, 'University of Pennslyvania', 'Steve Dolan', 'stdolan@upenn.edu')
(22, 'University of Alabama', 'Dan Waters', 'dwaters@ia.ua.edu')
(23, 'University of Arkansas', 'Mark Hinton', 'mahinton@uark.edu')
(24, 'University of Auburn', 'Ralph Spry', 'spryral@auburn.edu')
(25, 'University of Florida', 'Mike Holloway', 'mouseh@gators.ufl.edu')
(26, 'University of Georgia', 'Patrick Cunniff', 'pcunniff@sports.uga.edu')
(27, 'University of Kentucky', 'Lonnie Greene', 'rgreene@uky.edu')
(28, 'Lousiana State University', 'Dennis Shaver', 'shaver@lsu.edu')
(29, 'Ole Mississippi University', 'Connie Price-Smith', 'cmprices@olemiss.edu')
(30, 'Mississippi State University', 'Chris Woods', 'cwoods@athletics.msstate.edu')
(31, 'University of South Carolina', 'Mike Sergent', 'msergent@mailbox.sc.edu')
(32, 'University of Tenneesee', 'Beth Alford-Sullivan', 'basullivan@tennessee.edu')
(33, 'Vanderbilt University', 'Clark Humphreys', 'clark.humphreys@vanderbilt.edu')
(34, 'Texas A&M University', 'Pat Henry', 'phenry@athletics.tamu.edu')
(35, 'University of Missouri', 'Brett Halter', 'halterb@missouri.edu')
(36, 'Amherst', 'Jackie Bagwell', 'jkbagwell@amherst.edu')
(37, 'Bates', 'Al Fereshetian', 'afereshe@bates.edu')
(38, 'Bowdoin', 'Peter Slovenski', 'pslovens@bowdoin.edu')
(39, 'Colby', 'David Cusano Jr.', 'david.cusano@colby.edu')
(40, 'Hamilton', 'Brett Hull', 'bhull@hamilton.edu')
(41, 'Middlebury', 'Martin Beatty', 'beatty@middlebury.edu')
(42, 'Trinity', 'Bob Brickman', 'bob.brickman@trnty.edu')
(43, 'Tufts', 'Joel Williams', 'joel.williams@tufts.edu')
(44, 'Wesleyan', 'Walter Curry', 'wcurry@wesleyan.edu')
(45, 'Williams', 'Peter Farwell', 'Fletcher.A.Brooks@williams.edu')
(46, 'University of Arizona', 'Fred Harvey', 'flh@arizona.edu')
(47, 'Arizona State University', 'Dion Miller', 'Dion.Miller@asu.edu')
(48, 'University of California', 'Mike Gipson', 'mgipson@berkeley.edu')
(49, 'University of Oregon', 'Robert Johnson', 'oregonf@uoregon.edu')
(50, 'Oregon State University', 'Louie Quintana', 'Louie.Quintana@oregonstate.edu')
(51, 'Stanford University', 'J.J. Clark', 'jjclark1@stanford.edu')
(52, 'UCLA', 'Avery Anderson', 'aanderson@athletics.ucla.edu')
(53, 'USC', 'Caryl Smith Gilbert', 'usctfxc@usc.edu')
(54, 'U. Washington', 'Andy Powell', 'acpowell@uw.edu')
(55, 'Washington State University', 'Wayne Phipps', 'wayne.phipps@wsu.edu')
(56, 'University of Colorado', 'Mark Wetmore', 'mark.wetmore@colorado.edu')
(57, 'University of Utah', 'Erik Rasmussen', 'erik.rasmusser@usu.edu')
(58, 'Boston College', 'Matt Kerr', 'mens.track@bc.edu')
(59, 'Clemson University', 'Mark Elliott', 'maellio@clemson.edu')
(60, 'Duke University', 'Shawn Wilbourn', 'shawn.wilbourn@duke.edu')
(61, 'Florida State University', 'Bob Braman', 'rbraman@mailer.fsu.edu')
(62, 'Georgia Tech University', 'Grover Hinsdale', 'ghinsdale@athletics.gatech.edu')
(63, 'University of Miami', 'Amy Deem', 'adeem@miami.edu')
(64, 'University of North Carolina', 'Chris Miltenberg', 'coachmilt@unc.edu')
(65, 'North Carolina State University', 'Rollie Geiger', 'rggeiger@ncsu.edu')
(66, 'University of Virginia', 'Jason Dunn', 'jd8h@Virginia.edu')
(67, 'Virginia Tech University', 'Dave Cianelli', 'dcianell@vt.edu')
(68, 'Wake Forrest University', 'John Hayes', 'hayesjw@wfu.edu')
(69, 'University of Pittsburgh', 'Alonzo Webb', 'awebb@athletics.pitt.edu')
(70, 'Syracuse University', 'Brien Bell', 'bbell@syr.edu')
(71, 'University of Louisville', 'Dale Cowper', 'dale@GoCards.com\n')

In [7]:
df.to_sql(name='TrackCoach', con=conn)

/Users/aayushdeshpande/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(